body{
	font-family: system-ui;
	background-color: #F1257A;
	background: linear-gradient(red,pink);
	color: white;

	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

h1{
	font-size: 15vw;
}

h2{
	max-width: 20ch;
	text-align: center;
}